<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Members Only Club</title>
</head>
<body>
    <div class="first-greeting">
        <% if (user) { %>
            <h1>Welcome <%= user.first_name %> <%= user.last_name %>!</h1>
            <p>Explore the latest anonymous posts from our community.</p>
            <div class="login-signup">
                <button><a href="/newMessage">Create a New Message</a></button>  
                <% if (!user.membership_status) { %>    
                <button><a href="/join">Join the Club</a></button>
                <% } %>
            </div>
        <% } else { %>
            <h1>Welcome to the Members Only Club</h1>
            <p>Log in to explore and create new anonymous posts.</p>
            <div class="login-signup">
                <button><a class="login-signup-item" href="login">Login</a></button>
                <p class="login-signup-item"> OR </p>         
                <button><a class="login-signup-item"href="register">Sign Up</a>
            </div>
        <% } %>


    </div>
    <h2>Messages</h2>
    
    <% if (messages.length > 0) { %>
        <% messages.forEach(message => { %>
            <div class="message-box">
                <h2><%= message.title %></h2>
                <p><%= message.text %></p>
                <p>Date: <%= message.created_at.toLocaleString() %></p> 
                
                <% if (user && user.membership_status) { %> 
                    <% if (message.author_id) { %> 
            
                        <p>Author Id: <%= message.author_id %></p> 
                    <% } %>
                <% } %>
                
                <% if (user && user.is_admin) { %> <!-- Show delete button only to admin -->
    
                    <form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Message</button>
                    </form>
                <% } %>
            </div>
        <% }); %>
    <% } else { %>
        <p>No messages to display at the moment.</p>
    <% } %>


   
</body>
</html>
